body{
  max-width:100%;
  overflow-x: hidden; 
  margin: 0px;
  font-family: "Montserrat";
}

a:link {
  color: #1d1a05;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #1d1a05;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e78823;
  background-color: transparent;
/*  text-decoration: underline;*/
  transition: 0.3s ease;

}

a:active {
  color: #1d1a05;
  background-color: transparent;
  text-decoration: none;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  color: #1d1a05;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  color: #1d1a05;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  color: #1d1a05;
  font-weight: 400;
}

h4 {
  font-size: 30px;
  color: #1d1a05;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  color: #1d1a05;
  font-weight: 300;
  line-height: 150%; 
}

h6 {
  font-size: 16px;
  color: #1d1a05;
  font-weight: 300;
/*  line-height: 150%;*/ 
}

.navbar {
  background-color: hsla(0, 0%, 20%, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s ease;
  z-index: 300;
  margin: 0px;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu a {display: none;}
  .menu button {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive a.icon {
    position: absolute;
    right: 33px;
    top: 0px;
  }
  .menu.responsive a {
    display: block;
  }
  .menu.responsive button {
    float: right;
    display: block;
  }
}

.applink {
  height: 100vh;
  width: auto;
  background-image: url("../images/applink-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  min-height: 100vh;
  width: auto;
  background-image: url("../images/background_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-team {
  height: auto;
  width: auto;
  background-image: url("../images/quinten-de-graaf-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-apply {
  height: auto;
  width: auto;
  background-image: url("../images/background_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  min-height: 100px;
  width: auto;
  background-image: url("../images/background_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#button-center {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.button {
  background-color: #7fb069;
  border: none;
  color: white;
  padding: 9px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 400;
  border-radius: 24px;
}

.button:hover {
  background-color: #1d1a05;
  text-decoration: underline;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
}

#button-secondary {
  background-color: #ffffff;
  border: none;
  color: #666666;
  padding: 9px 18px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 400;
  border-radius: 24px;
}

#button-secondary:hover {
  background-color: #ffffff;
  color: #bfbfbf;
  text-decoration: underline;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
}

#button-apply {
  /* position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); */
  /* background-color: #98aeca; */
  background-color: #7fb069;
  border: none;
  color: white;
  margin-right: 40px;
  padding: 9px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: "open sans";
  font-weight: 400;
  border-radius: 24px;
}

#button-apply:hover {
  background-color: #ffffff;
  color: #333333;
  text-decoration: underline;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
}

#button-coffee {
  /* position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); */
  background-color: #7fb069;
  border: none;
  color: white;
  padding: 9px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: "open sans";
  font-weight: 400;
  border-radius: 24px;
}

#button-coffee:hover {
  background-color: #ffffff;
  color: #333333;
  text-decoration: underline;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
}

/*.vert-center {
  position: relative;
  transform: translatey(25%);
  top: 50%;
}*/

#email {
  border-color: #f7f7f7;
  color: #333333;
  padding: 9px 18px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: "open sans";
  font-weight: 300;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}

.team-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#team-bio-anna, #team-bio-jack, 
#team-bio-helen, #team-bio-emma, 
#team-bio-name {
  transition: opacity 0.5s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#team-anna:hover ~ #team-bio-anna, 
#team-jack:hover ~ #team-bio-jack, 
#team-helen:hover ~ #team-bio-helen, 
#team-emma:hover ~ #team-bio-emma, 
#team-name:hover ~ #team-bio-name {
  transition: opacity 0.5s ease;
  opacity: 1;
  height: auto;
}

.feature-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.email-img {
  text-align: center;
}

.name:hover {
  text-decoration: underline;
  transition: 0.3s ease;

}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  z-index: 301;
  display: none;
}

#popup {
  min-width: 60vw;
  max-width: 90vw;
  margin: 0 auto;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 24px 0px 24px 0px;
  justify-content: center;
  z-index: 302;
  background-color: #f7f7f7;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(172,172,172,1);
  -moz-box-shadow: 0px 2px 10px 0px rgba(172,172,172,1);
  box-shadow: 0px 2px 10px 0px rgba(172,172,172,1);
}

.close {
  text-align: center;
}

.close a:link {
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  text-decoration: underline;
}

.close a:hover {
  color: #98aeca;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: 0.3s ease;
}

.keyword-g {
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(127, 176, 105, .3);
  width: 175px;
  padding: 25px;
}

.keyword-g:hover {
  margin: auto;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(127, 176, 105, .15);
  padding: 25px;
}

.keyword-y {
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(255, 251, 189, 1);
  width: 175px;
  padding: 25px;
}

.keyword-y:hover {
  margin: auto;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(255, 251, 189, .5);
  padding: 25px;
}

.keyword-o {
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(231, 136, 35, .3);
  width: 175px;
  padding: 25px;
}

.keyword-o:hover {
  margin: auto;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(231, 136, 35, .15);
  padding: 25px;
}

.card {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-radius: 10px;
  border-width: 0px;
  background-color: white;
  width: 350px;
  min-height: 150px;
  padding: 20px;
}